@media only screen and (min-width: 32.5rem){
    nav{
        display: flex;
        justify-content: center;
    }

    #typography img{
        max-width: 750px;
        min-width: 450px;
        }
}