@media only screen and (min-width: 32.5rem){
    nav{
        display: flex;
        justify-content: center;
    }

    #typography img{
        max-width: 750px;
        min-width: 450px;
        }
}

@media (max-width: 768px) {
  #menu {
    display: none;
  }

  #menu-toggle {
    display: block;
  }
  #menu.active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: #333;
      padding: 10px;
    }
  
    #menu.active li {
      margin-bottom: 10px;
    }
  }