/* Styles for large viewport */
/* Add your own custom styles based on your site plan */
.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px;
}


.header-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  nav ul.menu {
    display: inline-block;
  }
  
  .social-media ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .social-media li {
    margin-left: 10px;
  }
  
  .social-media a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
  }
  /* Header */
  header {
    grid-template-columns: 3fr 4fr 1fr;
  }

  #hamburgerButton {
    display: none;

  }

  #primaryNav {
    display: block;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0;
    margin: 0;
    border: 0;
  }

  #primaryNav ul {
    display: flex;
  }

  #primaryNav a {
    border: 0;
  }

  .navigation {
    grid-column: 3/4;
  }

  /* Main */
  main section, main div {
    height: 100%;
    width: 100%;
  }

  

  #hero-banner {
    grid-column: 2/3;
    grid-row: 1/3;
    position: relative;
    height: 100%;
  }

  #hero-banner picture {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #hero-banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  .hero-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .hero-subtitle {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .hero-button {
    display: inline-block;
    background-color:FFC107;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
  }
  .spotlight {
    grid-column: 3/4;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .event {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .weather {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #join {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color:FFC107 ;
  }

  .news{
    grid-column: 2/3;
    grid-row: 3/4;
  }

  @media only screen and (min-width: 992px) {
    /* Large View */
    body {
      margin: 40px;
    }
    
    input[type="text"],
    input[type="email"],
    select,
    textarea {
      width: 400px;
    }
  }

