/* Styles for medium viewport */
/* Add your own custom styles based on your site plan */

.header-container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  

  .social-media {
    display: flex;
    align-items: center;
  }
  
  
  .social-media {
    display: inline-block;
  }
  
  @media screen and (max-width: 767px) {
    nav ul.menu {
      display: none;
    }
  
    .social-media {
      display: inline-block;
    }
  }
  /* Header */
  header {
    grid-template-columns: 1fr 2fr;
  }

  #hamburgerButtton {
    display: none;
  }

  #primaryNav {
    display: block;
  }

  .navigation {
    grid-column: 2/3;
    text-align: right;
  }

  /* Main */
  main section, main div {
    height: auto;
    width: auto;
  }

  #hero-banner {
    display: grid;
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .event {
    grid-row: 1/2;
  }

  .weather {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #join {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .news {
    grid-column: 2/3;
    grid-row: 1/4;
  }

  .spotlight {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 2/4;
  }

  .spotlight section {
    margin: 15px 0;
  }

  /* Media Queries */
@media only screen and (min-width: 768px) {
  /* Medium View */
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 300px;
  }
}
